</DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SaarthVJ</title>
        <link rel="icon" href="assets/image/new.jpg" width="30" height="30">
        <meta name="description" content="">
       <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
      <link href="https://www.coursera.org/account/accomplishments/certificate/BAU93HE7HBUV" class="bpgc">
      
        <link rel="stylesheet" href="assets/css/styles.css">
        <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">


    </head>




    <body>
  
      
<nav class="navbar navbar-expand-lg navbar-light" style="background: url(https://image.freepik.com/free-photo/detail-blue-concrete-wall-texture-background_70287-3502.jpg);">
        <img id="besidenameimg" src="assets/image/new.jpg" width="50px" height="50px" >
        
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link"  href="#nametag" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  href="#about" >About</a>
      </li>
   
      <li class="nav-item">
        <a class="nav-link"  href="#achieve" >Skills

        </a>
      </li>
    
       <li class="nav-item">
        <a class="nav-link"  href="#workexp" >Projects

        </a>
      </li>
           <li class="nav-item">
        <a class="nav-link"  href="#contact" >Contact</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link disabled"  href="#" tabindex="-1" aria-disabled="true">Worke experience</a>
      </li>
    </ul>
  </div>
</nav>

</section>

<section id="nametag">
<div class="jumbotron myheader jumbotron-fluid">
  <div class="bgg">
  <img src="assets/image/svjj.jpg" width="200px" height="200px" class="svjpic">
  <h4 class="myname" style="color: gray"> Hi! I am </h4>
  <h2>Saarth</h2>
  <h1 class="myheader">I build things for the web</h1>
  <p class="lead">+ I believe in enhancing people's lives with crafted digital products and experience.</p><br>
  <br>
  <br>
  <br>
  <p class="lead">A do-er and an achiever.</p>
  <hr class="my-4">
   <div class="fadeup-enter-done" class="getin"><a href="mailto:saarth62@gmail.com" class="getin">Get In Touch</a></div>

</section>
  
  


<section id="boom">
<section id="about" class="myself">
  <ul class="itt" >
    <li><h3 class="mee"><b> About Me</b> </h3>
    </li></ul>
  <div id="line"></div>
  <br>
  <p class="abt">I am an undergraduate student pursuing B.E degree in Electronics and Instrumentation at <a href="https://www.bits-pilani.ac.in/goa/" class="bpgc">Bits Pilani Goa</a> , and completed my schooling from <a href="https://www.gdgoenkasurat.com/" class="bpgc"> G.D goenka international school</a> Surat, Gujarat. I like to design and develop dynamic website for small and medium business. 
  </p>
  <p class="abt"> I have diverse set of skills , ranging from design to,<a href="https://www.coursera.org/account/accomplishments/certificate/BAU93HE7HBUV" class="bpgc"> HTML+CSS+JAVASCRIPT </a>, all the way to probelm-solving and algorithms.</p>
  <p class="abt">I play TT & squash in my free time.</p>
   <div id="line1"></div>
</section>
  
  
  <br>
  <br>
  <br>
  

<section id="achieve" >
   <ul class="itt" style="color: white">
    <li><h3 class="mee" class="bpgc"><b>Skills</b> </h3>
      </li></ul>
        <div id="line"></div>
      

<ul class="list-unstyled" style="height:2000px">
  <li>
    <img src="https://brandfolder.com/hackerrank/logo/hackerrank-primary-logo.png" class="mr-3" alt="golden-badge" style="border-radius: 50%; width: 200px ; height:200px">
    <div class="media-body" style="position: relative;bottom: 250;">
      <h5 class="mt-0 mb-1 skil bpgc"><li style="color:black">~Competitive programming</h5></li>
    <br>
    <br>
    <p class="sks">  <a href="https://www.hackerrank.com/dashboard" class= "bpgc"> HackerRank </a> golden badge approved in problem-solving and algorithms. I stand under 30k out of 2.1million people participating globally.</p>
    <br>
    <br>
    </div>
    <br>
  </li>
  <div class="ln"></div>
  <br>
  <br>
  <br>

  <li class="my-4" style="height:200">
    <img src="assets/image/kaushal.jpg" class="mr-3" alt="golden-badge" style="border-radius: 50% ;width: 200px; height:200px">
    <div class="media-body" style="position: relative;bottom: 250;">
      <h5 class="mt-0 mb-1 skil bpgc"><li style="color:black">~Table-tennis</h5></li>
     
     <br>
     <br>
     <p class="sks"> I have been playing Table-Tennis since class 5, over these years i have played 14 <a href="http://ttfi.org/players/index/saarth/All/All/Search" class="bpgc">national</a> tournaments, participated thrice in <a href="https://sgfibharat.com/" class="bpgc">SGFI</a> national tournament, and won silver medal in CBSE-cluster games 2015. Gujarat state rank 5(category U-15)(2015-16).  </p>
     <br>
     <br>
    </div>
    
    
  </li>
  <div class="ln"></div>
<br>
<br>
<br>
<br>

  <li>
    <img src="assets/image/spoc.jpg" class="mr-3" alt="sportsc"style="border-radius: 50%; width:200px;height:200px">
   <div class="media-body" style="position: relative;bottom: 250; left:35">
      <h5 class="mt-0 mb-1 skil bpgc"><li style="color:black">~Leadership</h5></li>
   <br>
   <br>
    <p class= "sks"> Sports captain of G.D goenka international school for the academic year 2017-18. This role has helped me improve both leadership and management skills. I have also worked with<a href="https://www.sulekha.com/vatsalyapuram-orphanage-ngo-surat-athwa-gate-surat-contact-address" class="bpgc">Vatsalyapuram orphanage NGO Surat</a> and led 50 student team for 4 weeks to help and teach the underprivileged children.</p>
    <br>
    <div id="line1"></div>

    </div>
  </li>
</ul>


</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<section id="workexp">
<ul class="itt" >
    <li><h3 class="mee"><b>Projects </b> </h3>
    </li></ul>
  <div id="line"></div>
<div style="height:100px"></div>

  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"  style="height:auto" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.pinimg.com/originals/de/ec/e2/deece2461f9cc73814f727b83d9955f9.png" class="d-block w-100 ko" alt="notelog" >
      <div class="carousel-caption d-none d-md-block">

      </div>
    </div>
    <div class="carousel-item">
      <img src="https://data-flair.training/blogs/wp-content/uploads/sites/2/2020/01/login-system-in-django.jpg"alt="word counter" class="d-block w-100 ko">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.zauca.com/wp-content/uploads/artist-painting-website-design-1024x585.png" class="d-block w-100 ko" alt="painters" >
      <div class="carousel-caption d-none d-md-block">
        <h5 class="tit">E-COMMERCE WEBSITE</h5>
        <p style="color:black; font-size:22px">This website is a platform for painters through out India to sell thier painting to the buyers(Launch date- JULY 2020).</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br>
<br>
<br>

<div class="extra" style="margin: 30px">
<h3 class="pwork"><ul><li>Note-Log</li></ul></h3>
<p class="pwork para">The aim here is to design and build a notes app that can take multiple entries per note. It should allow users to select a note when they launch the app. When they choose a note, a new entry will be automatically tagged along with the current date, time, and location.</p>
<h3 class="pwork"><ul><li>Word counter</li></ul></h3>
<p class="pwork para">This is a nifty tool for people who write detailed documentation, blogs, essays, etc., online. A word counter tool allows you to see how many words you’ve written so far and how much more you need to write. </p>

</div>

</section>

<section id="contact" style="height:700px">
  <div class="wrapper">
    <h1 class="hh1"> Get in touch</h1>
    <p class="pp1">I am looking for new oppurtunities and people to work with.</p>
    <br>
    <br>
    <br>
  
    <ul>
      
    <li class="ik"><a href="https://www.facebook.com/saarth.jhaveri"><i class="fab fa-facebook-f" ></i></a> </li>
    <li class="ik"><i class="fab fa-instagram" ></i> </li>
 <li class="ik">  <a href="https://www.linkedin.com/in/saarth-vikram-jhaveri-41b5431b0/?originalSubdomain=in"> <i class="fab fa-linkedin-in" ></i></a></li>
    <li class="ik"><a href="https://github.com/saarthvj"<i class="fab fa-github"></i></a></li>
    <li class="ik"><i class="fab fa-twitter"></i></li>
    <li class="ik"><a href="https://codepen.io/dashboard/"><i class="fab fa-codepen"></a></i></li>
   
    
    
    </ul>
    </div>
    </body>
</html>
<ul>
  
  
