.container{
  width:960px;
  +clearfix;
}

@media(max-width: 960px)
.container{
  width:auto;
}





.myheader{
  text-align: center;
  background:  url("https://image.freepik.com/free-photo/detail-blue-concrete-wall-texture-background_70287-3502.jpg");
  
}



.navown{
  font-size: 24px;
  color: rgb(198, 193, 193);

}

#besidenameimg{
  
  border-radius: 60%;
  
}

.myname{
  font-style: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: lightgray;
  
}

.svjpic{
  border-radius: 50%;
  border:2px blue;
}


.getin{
  border: 1px solid black;
  font-style: arial;
  padding: 14px;
  color: black;
  transition-delay: 500ms; 
}
#boom{
   background: #282828;
  background: linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: Gradient 3.5s ease infinite;
}

#about{
  text-align: left;
   font-family: Source Sans Pro;
 
  height: 1200px;
  
}
.myself{
  font-style:inherit;
}

.mee{
  padding: 70px;
color: black;
 text-align: left;
font-size: 40px;
  font-family: "SF mono";
  position: relative;
  right: 70px
}

#line{position:relative;
  margin: 20px;
  bottom: 80px;
  height: 2px;
  background-color: white;
}

#line1 {
    height: 2px;
    position: relative;
    margin: 20px;
    height: 2px;
    background-color: white;
}

.itt{
  color: white;
  font-size: 35px;
  position: relative;
  left: 40px;
  width:360;
  font-family: "SF mono";
}
.abt {
    position: relative;
    bottom: 50px;
    color: white;
    left: 10px;
    line-height: 2em;
    font-family: times-new;
    letter-spacing: 2px;
    font-size: 20px;
    width: 350;
}
.bpgc{
  color: black;
  
}


//achievement


  

#line2{position:relative;
  margin: 20px;
  bottom: 80px;
  height: 2px;
  background-color: white;
}

.achi{
  left:30px;
  color: white;
}


.skil{
  font-style: initial;
    color: skyblue;
    font-family: times-new;
    font-size: 30;
    font-weight: bold;
}
.sks{
    color: white;
    font-family: times new;
    font-size: 21;
    letter-spacing: 2px;
    border: 1px lightgray;
    text-align: center;
    font-weight: bolder;
    text-align: -webkit-right;
   
}
.ln{
  background-color:white;
height: 2px;
margin: 5px;
}
.bpgcc{
  color:#12F189;
}
.pj{
      font-size: 40;
    text-align: center;
    outline-style: ridge;
    margi: 30px;
    padding: 40;
    font-weight: bolder;
    font-family: times new;
   // background: url(https://cdn.wallpapersafari.com/65/82/ymsKP4.jpg);
    outline-color: black;
    color: beige;
    -webkit-text-decorations-in-effect: underline;
}
#workexp{
  
    height: 1500px;
}
.tit{
  height:700px;
  font-style: times-new;
}
.ik{
      list-style: none;
    margin: 20px 20px;
    display: inline-block;
    font-size: 60;
    padding: 20px 20px;
    transition: 0.5s;
    width: 62px;
    height: 62px;
    position: relative;
    right: 20px;
}
.pwork{
  text-align: center;
  font-family: times new;
  font-size:24px;
  color: black;
  outline-style: dashed; 
}
.para{
  outline-style: none;
  font-size:18px;
  color:white;
}
#contact{
  font-family: Source Sans Pro;

 
}
@-webkit-keyframes Gradient{
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.hh1{
  font-weight: lighter;
  font-size: 80px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 0;
  height:50px;
}
.pp1{
  color: #fff;
  text-align: center;
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 25px;
  margin-top: 200px;  
}

.media{
  position: relative;
  top:40%;
  left: 50%;
  transform: translate(-53%, -50%);
} 


